@model IEnumerable<VehicleRequisitionSystem.Models.EntityModels.AssignedRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}

<h2>Assigned Request</h2>

<p>
    <a href="@Url.Action("Index", "Requests")" class="elements">
        <span>Assign</span>
    </a>
</p>
<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>
<table class="table table-bordered table-striped " id="myTable">
    <tr>
        <th>
            @Html.Raw("SL")
        </th>
        <th>
            @Html.DisplayName("Requisition Id")
        </th>
        <th>
            @Html.DisplayName("Driver Id")
        </th>
        <th>
            @Html.DisplayName("Driver")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.RegistrationNo)
        </th>
        <th>
            @Html.DisplayName("Requested By")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="Search">
            <td>
                @(sl++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmpIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RegistrationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpIdNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
@section scripts{

    <script>
        $(document).ready(function () {
            function contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
                else {
                    return false;
                }
            }

            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
            $('#myTable').DataTable();
        });
    </script>

}
