@model IEnumerable<VehicleRequisitionSystem.Models.EntityModels.AssignedRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
   <a href="@Url.Action("Index", "Requests")" class="elements">
                <span>Assign</span>
            </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Driver")
        </th>
        <th>
            @Html.DisplayName("Requisition Id")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.RegistrationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpIdNo)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.RegistrationNo)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.EmpIdNo)
        </td>
       <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
