@model VehicleRequisitionSystem.Models.EntityModels.AssignedRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Assigned Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpIdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpIdNo)
        </dd>
        <dt>
            @Html.DisplayName("Driver Id")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmpIdNo)
        </dd>
        <dt>
            @Html.DisplayName("Driver Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.BrandName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.RegistrationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.RegistrationNo)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.EmpIdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpIdNo)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
