@model List<VehicleRequisitionSystem.Models.ViewModels.GatePassListVM>

@{
    ViewBag.Title = "Gate Pass";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
}

<h3>All Gate Pass</h3>

<p>
    @Html.ActionLink("New Gate Pass", "Generate")
</p>
<table class="table table-bordered table-striped " id="myTable">
    <tr>
        <th>
            @Html.Raw("SL")
        </th>
        <th>
            @Html.DisplayName("Employee Id")
        </th>
        <th>
            @Html.DisplayName("Driver Name")
        </th>
        <th>
            @Html.DisplayName("Vehicle Brand")
        </th>
        <th>
            @Html.DisplayName("Vehicle Registration No")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("On Time")
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td>
                @(sl++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnTime)
            </td>

        </tr>
    }

</table>
